server {
    listen 80;
    root {{ release_directory }}/{{ app_name }}/current;
    server_name {{ app_name }}.{{ hostvars[groups['haproxy'][0]]['app_url_suffix'] }};
    location / {
	    try_files $uri $uri/ =404;
    }
}
